@import "common";

.navbar {
  width: 100%;
  background-color: $nav-bar-bg-color;
  margin-bottom: 0;
  font-size: 13px;
  .navbar-inner {
    width: 90%;
    margin: auto;
    padding: 5px;
    min-height: 40px;
  }
  .navbar-container {
    width: 100%;
    min-width: 980px;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
  }
  .logo {
    display: block;
    float: left;
    margin-left: -20px;
    font-size: 20px;
    width: 120px;
    padding: 3px 20px;
    height: 34px;
    line-height: 34px;
    color: #ccc;
    font-weight: 700;
  }
  .nav {
    li {
      float: left;
      line-height: 20px;
    }
    a {
      display: block;
      padding: 10px 15px;
      color: #ccc;
      &:hover {
        color: #fff;
        background-color: transparent;
      }
    }
  }
}
